<div class="top">
    <p>id: <%=id%></p>
    <h2>Name: <%=name%></h2>
    <h3><%=username%></h3>
    <p><%=email%></p>
</div>
<div class="bottom-flex">
    <div class="left-b">
        <p><%=address.street%></p>
        <p><%=address.suite%></p>
        <p><%=address.city%></p>
        <p><%=address.zipcode%></p>
        <p><%=address.geo.lat%></p>
        <p><%=address.geo.lng%></p>
    </div>
    <div class="right-b">
        <p><%=phone%></p>
        <p><%=website%></p>
        <p><%=company.name%></p>
    </div>
</div>